<h1>{{title}}</h1>



<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Text Page</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.user}}
                <tr>
                <td>{{@index}}</td>
                <td>{{this.name}}</td>
                <td><a href="tel:+1{{this.phone}}">{{this.phone}}</a></td>
                <td><div class="sms"><a href="sms:+1{{this.phone}}"><img src="/images/crosstxt-icon.jpg"></a></div></td>
                <td><div class="email"><a href="mailto:{{this.email}}"><img src="/images/email-icon.png">{{this.email}}</a></div></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div>
{{#if buttonType.admin}}
<a href="/users/add" ><button type="button" class="btn btn-primary">Add New User</button></a>  
{{else}}

{{/if}}
</div>