<h1>{{title}}</h1>



<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.user}}
                <tr>
                <td>{{@index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div>
{{#if buttonType.admin}}
<a href="/users/add" ><button type="button" class="btn btn-primary">Add New User</button></a>  
{{else}}

{{/if}}
</div>